body {
  margin: 0px;
  font-family: "K2D", sans-serif;
}
p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 99vh;
  justify-content: center;
}
.container-color {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 99vh;
  background: linear-gradient(283.73deg, #231331 -29.4%, #00ccbc 100%);
}
.left-side {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 120px;
  /* padding-top: 15px; */
}

.imgLogo {
  width: 98px;
  height: 38.18px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.text-right-side {
  position: absolute;
  top: 35px;
  right: 45px;
  color: #231331;
  font-family: "SF Pro", sans-serif;

  font-size: 13px;
  z-index: 1;
}

.highlighted-step {
  font-family: "SF Pro", sans-serif;
  margin: 3px;
  font-size: 22px;
  font-weight: 590;
}

.right-side-5 {
  display: flex;
  width: 55%;
}

.right-side {
  display: flex;
  width: 55%;
  background: linear-gradient(283.73deg, #231331 -29.4%, #00ccbc 100%);
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}

.img-rectangle {
  display: block;
  width: 100%;
  object-fit: contain;
  padding-top: 25px;
}

.img-small {
  display: none;
  width: 100%;
}

@media (max-width: 768px) {
  .img-large {
    display: block;
  }
}
@media (max-width: 768px) {
  .img-large {
    display: none;
  }
  .img-small {
    display: block;
    width: 100%;
    object-fit: contain;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
    display: flex;
    padding-top: 5px;
    justify-content: flex-start;
  }
  .imgLogo {
    display: none;
  }
  .header-text {
    width: 100%;
    padding-top: 10px;
  }
  .right-side {
    order: 1;
    width: 100%;
    background: #fff;
    padding-left: 15px;
  }
  .container-color {
    display: flex;
    flex-direction: column;
    background: #fff;
  }

  .left-side {
    order: 2;
    padding-left: 10px;
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
  }
  .right-side-5 {
    width: 100%;
    background: linear-gradient(283.73deg, #231331 -29.4%, #00ccbc 100%);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
  }
  .text-right-side {
    right: 15px;
    top: 25px;
    font-size: 13px;
  }
  .highlighted-step {
    font-size: 16px;
  }
  .option {
    width: 80%;
    padding: 10px;
  }
  p {
    max-width: 80%;
  }
}
