.conteiner {
  padding-top: 29px;
  margin-bottom: 10px;
}

.button {
  background-color: #231331;
  border: none;
  color: #ffffff;
  width: 140px;
  border-radius: 50px;
  font-family: "SF Pro", sans-serif;
  font-size: 11.5px;
  font-weight: 510;
  line-height: 13.13px;
  text-align: center;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-icon {
  margin-left: 14px;
  color: #13847b;
}

.button:disabled {
  background-color: rgba(35, 19, 49, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
.arrow-icon-prev {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(35, 19, 49, 0.5);
  padding: 7px;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #231331;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-bottom: 5px;
  position: relative;
  left: -56px;
  top: 39px;
  color: #231331;
  font-size: 16px;
  font-family: "SF Pro", sans-serif;
}

.round-button:hover {
  background-color: #f0f0f0;
}
