.header-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 24.7px;
  font-family: "K2D", sans-serif;
  color: #231331;
  text-align: left;
  max-width: 340px;
  margin-bottom: 15px;
}
.header-text.question-step-5 {
  font-size: 14px;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
}

.input-text {
  border: none;
  border-bottom: 1px solid #23133180;
  padding-bottom: 10px;
  width: 310px;
  color: #23133180;
  outline: none;
  margin-top: 10px;
}

.input-text::placeholder {
  font-family: "SF Pro", sans-serif;
  font-size: 14px;
  font-weight: 110;
  line-height: 16.71px;
  text-align: left;
  color: #888;
}

.options-container {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  max-width: 85%;
}

.options-container.three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.options-container.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  font-size: 11.5px;
  font-family: "SF Pro", sans-serif;
  font-weight: 510;
  color: #231331;
  border: 1px solid #231331;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  /* max-width: 180px; */
}

.option.selected {
  background-color: #231331;
  color: #ffffff;
}

.circle {
  background: #00ccbc;
  color: white;
  border-radius: 50%;
  font-family: "SF Pro", sans-serif;
  width: 24px;
  height: 24px;
  font-size: 10px;
  font-weight: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  margin-right: 10px;
  min-width: 24px;
}

.option.challenge {
  justify-content: flex-start;
  text-align: left;
  padding: 5px;
  width: 270px;
}
@media (max-width: 768px) {
  .header-text {
    margin-bottom: 30px;
    max-width: 85%;
    text-align: left;
    width: 85%;
  }

  .input-text {
    width: 85%;
  }
  .options-container.three-columns {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .options-container.two-columns {
    grid-template-columns: repeat(1, 1fr);
  }

  .options-container.three-columns > .option:nth-child(odd):last-child {
    grid-column: span 2;
    width: 90%;
    margin: 0;
  }
}
