.progress-bar {
  display: flex;
  flex-direction: row;
}

.progress-step {
  width: 16.6666666667vw;
  height: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: background-color 0.3s;
}

.progress-step.completed {
  background-color: #231331;
}
